.app-wrapper {
   display: grid;
   grid-template-columns:3fr 10fr;
   grid-template-rows: 70px 1fr;
   grid-template-areas: 
   'header header' 
   'nav main'
   ;
   gap: 15px;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

body {
   background-color:  #FFDEDE;
}

.container {
   padding: 0 25px;
}

.main {
   grid-area: main;
   background-color: #ffffff;
   height: 100%;
   border: 3px solid rgba(0, 0, 0, 0.2);
   border-radius: 20px;
   overflow: hidden;
}

